# Dependencies
node_modules
dist
build

# Database
# *.sqlite
# *.db

# Environment
# .env
.env.local

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*

# Testing
coverage
.nyc_output

# Build
*.tsbuildinfo
